<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>To do</h1>
    <form method="POST" action="/">
    {% csrf_token %}
    {{form.titulo}}
        <input type="submit" name="Crear Tarea">
    </form>
    {% for tarea in tareas %}
    <div>
        <a href="{% url 'actualizar' tarea.id %}">actualizar</a>
        <a href="{% url 'eliminar' tarea.id %}">eliminar</a>
        
        {% if tarea.completado == True %}
        <strike>{{tarea}}</strike>
        {% else %}
        <span>{{tarea}}</span>
        {% endif %}
        
    </div>
    {%endfor%}
</body>
</html>