<!DOCTYPE html>
<html lang="es">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do App</title>
    <link rel="stylesheet" href="{% static "css/tailwind-output.css" %}">
</head>
<body class="container bg-gray-50">
    <div class="grid grid-cols-1 grid-rows-3">

    <div>
        <h1 class="text">To do</h1>
    </div>
    <div>
        <form method="POST" action="/">
            {% csrf_token %}
            {{form.titulo}}
            <input type="submit" name="Crear Tarea">
        </form>
    </div>
    {% for tarea in tareas %}
    <div>
        <a href="{% url 'actualizar' tarea.id %}">actualizar</a>
        <a href="{% url 'eliminar' tarea.id %}">eliminar</a>
        
        {% if tarea.completado == True %}
        <strike>{{tarea}}</strike>
        {% else %}
        <span>{{tarea}}</span>
        {% endif %}

    </div>
    {%endfor%}
    </div>
</body>
</html>